@page
@model NeetMama.Pages.Students.AvailableTestsModel

<h1>Available Tests</h1>

<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Test Name</th>
            <th>Subject</th>
            <th>Duration</th>
            <th>Created Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var test in Model.Tests)
        {
            <tr>
                <td>@test.TestName</td>
                <td>@test.Subject</td>
                <td>@test.DurationMinutes mins</td>
                <td>@test.CreatedDate.ToString("dd-MMM-yyyy")</td>
                <td>
                    <a class="btn btn-primary"
                       href="/Students/TakeTest?id=@test.Id">
                        Start Test
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>