@page
@model NeetMama.Pages.Students.DashboardModel

<h1>Student Dashboard</h1>

<hr />

<div>
    <h3>Student Actions</h3>

    <ul>
        <li>Take Test</li>
        <li>View Results</li>
        <li>Practice Questions</li>
        <li>Performance Analytics</li>
    </ul>
</div>
