@page
@model NeetMama.Pages.Students.DashboardModel

<h1>Student Dashboard</h1>

<hr />

<div class="row">

    <div class="col-md-4 mb-3">
        <a class="btn btn-primary w-100 p-3"
           href="/Students/AvailableTests">
            Available Tests
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-info w-100 p-3"
           href="/Students/Results">
            View Results
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-warning w-100 p-3"
           href="/Students/PracticeQuestions">
            Practice Questions
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-dark w-100 p-3"
           href="/Students/Analytics">
            Performance Analytics
        </a>
    </div>

    <a class="btn btn-warning w-100 p-3" href="/Students/FlashCards">
        Flash Cards
    </a>

</div>