@page
@model NeetMama.Pages.Account.LoginModel

<h1>Login</h1>

<hr />

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Input.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input asp-for="Input.Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Login
    </button>

</form>