@page
@model NeetMama.Pages.Account.RegisterModel

<h1>Register</h1>

<hr />

<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Input.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input asp-for="Input.Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Role</label>
        <select asp-for="Input.Role" class="form-control">
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">
        Register
    </button>

</form>