@page
@model NeetMama.Pages.Teachers.DashboardModel

<h1>Teacher Dashboard</h1>

<hr />

<div class="row">

    <div class="col-md-4 mb-3">
        <a class="btn btn-primary w-100 p-3" href="/Teachers/QuestionBank">
            Question Bank
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-success w-100 p-3" href="/Teachers/AddQuestion">
            Add Question
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-warning w-100 p-3" href="/Teachers/GenerateQuestions">
            Generate AI Questions
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-info w-100 p-3" href="/Teachers/UploadBooks">
            Upload NCERT Books
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-secondary w-100 p-3" href="/Teachers/CreateTest">
            Create Test
        </a>
    </div>

    <div class="col-md-4 mb-3">
        <a class="btn btn-dark w-100 p-3" href="/Teachers/Analytics">
            Analytics
        </a>
    </div>

</div>